body 
{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: 100% 100%;           
}

#title 
{
    font-size: 80px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginTitle
{
    font-size: 60px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#signUpTitle
{
    font-size: 60px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

.home-page-buttons
{
    display: flex;
    gap: 50px; /* space between links */
    justify-content: center; /* center horizontally */
    align-items: center; /* vertically center if needed */
}

.signUp-Label
{
    font-size: 20;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

.signUpButton
{
    display: flex;
    justify-content: center;
}

.loginButton
{
    display: flex;
    justify-content: center;
}


#shark {
    position: fixed;
    bottom: 50px;      /* start off screen at bottom */
    right: -10%;            /* start from left edge */
    width: 300px;
    animation: sharkArc 10s ease-in-out infinite;
    cursor: pointer;
    transform-origin: center;
  }
  
@keyframes sharkArc 
{
    0% {
        bottom: 50;
        right: -20%;
        opacity: 1;
        
    }
    100% {
        bottom: 50;
        right: 110%;
        opacity: 1;
    }  
}
  
  
#loginDiv
{
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent for glass effect */
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); /* Glassmorphism */
    color: #ffffff;
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    text-decoration: none;
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-top: 10%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    text-decoration: underline;
    color: #FFFFFF;
    opacity: 90%;
}

#CreateAccountDiv
{
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent for glass effect */
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); /* Glassmorphism */
    color: #ffffff;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 25;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

.topnav {
    background-color: #0D5C63;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #FFFFFA;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #FFFFFA;
    color: black;
}